@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VCR";
  src: url("./fonts/vcr_osd_mono.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.academia {
  flex: 50%;
  color: #fff;
  padding: 15px;
  width: 100%;
}

.App {
  display: flexbox;
  overflow: scroll;
  font-family: "VCR";
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  flex-direction: column;
}

.About-Me-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.arrow {
  animation: arrowMover 1s;
  animation-iteration-count: infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.bio {
  max-width: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 1ch;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1ch;
}

.contact-me {
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

@font-face {
  font-family: "VCR";
  src: local("VCR"), url("../fonts/vcr_osd_mono.ttf") format("truetype");
  font-weight: normal;
}

.education {
  display: block;
  margin: auto;
  max-width: 80%;
  padding: 1ch;
}
.education:hover {
  filter: brightness(75%);
  transition: 0.15s;
}

.footer {
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px);
  color: white;
  font-family: "VCR";
}

.link {
  color: #fff;
  padding: 10px;
  height: 50px;
  width: 50px;
}
.link:hover {
  color: #999;
  transition: 0.15s;
  filter: brightness(50%);
}

.links-div {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  color: #fff;
  bottom: 0;
  z-index: 1;
}
.links-div:hover {
  bottom: 10px;
  transition: 0.1s;
}

.profile-pic {
  width: 275px;
  height: 275px;
  padding-bottom: 1ch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.Projects-header {
  text-align: center;
  display: flexbox;
  flex-direction: row;
  justify-content: left;
  font-size: calc(10px + 5vmin);
  color: white;
  padding-bottom: 5%;
}

.Projects-header-title {
  font-size: 3.5ch;
  padding: auto;
  margin: 0%;
}

.skill {
  color: #fff;
  filter: contrast(40%) brightness(175%) saturate(0%);
  width: 100px;
  height: auto;
  padding: 0.25ch;
}
.skill:hover {
  color: darkgrey;
  transition: 0.1s;
  filter: contrast(100%) brightness(100%) saturate(100%);
}

.skillset {
  justify-content: center;
  align-items: center;
  color: #fff;
  flex: 50%;
  padding: 4px;
  width: 100%;
}

.Education-Skills-header {
  text-align: center;
  display: flex;
  flex-wrap: wrap row;
  align-content: center;
  justify-content: center;
  width: 100%;
  font-size: calc(10px + 5vmin);
  color: white;
  margin-bottom: 2%;
  min-height: 100%;
}

.Top-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

#video {
  position: fixed;
  z-index: -1;
  top: -32px; /* this makes up for top blank space in video*/
  left: 0;
  filter: blur(1px) brightness(18%);
  background-color: black;
  min-width: 110%;
  height: 150%;
}

@keyframes arrowMover {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  to {
    transform: translateY(0px);
  }
}

/* For Mobile-specific devices*/

@media (max-width: 750px) {
  .contact-me {
    display: none !important;
    visibility: hidden;
  }
  .App {
    width: auto;
  }

  #video {
    position: fixed;
    overflow: hidden;
    width: auto;
    height: 150%;
  }

  .Top-header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Education-Skills-header {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    font-size: calc(10px + 5vmin);
    color: white;
  }
  .links-div {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    color: #fff;
    padding-top: 10px;
    animation: links-mobile 1s infinite;
  }
}

@keyframes links-mobile {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0px);
  }
}
